
.loading-bar{
    height: 40px;
    width: 85%;
    max-width: 1300px;
    background-color: rgb(165, 165, 165);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: fixed;
    border-radius: 50px; 
}

.loading-bar::before{
    content: '';
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgb(255, 255, 255);
    transform: translate(-50%, -50%);
    z-index: -1;
}

.loading-title{
    position: inherit;
    bottom: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.progress-bar{
    background-color: rgb(13, 170, 21); 
    color: white; 
    padding: 5px; 
    font-size: 20px;
    text-align: end;
    border-radius: 50px;
    transition: width 0.3s ease-in-out; 
}

.progress{
    width: 0%;
}

.game{
    display: none;
    grid-column: 1/-1;
}

.card-container {
    display: flex;
    justify-content: space-around; 
    align-items: center;
    flex-wrap: wrap; 
    gap: 10px; 
    padding: 15px;
}

.gif {
    border: 1px solid black;
    cursor: pointer;
    border-radius: 25px;
    aspect-ratio: 100/80;
    flex: 1 1 160px;
    transition: transform 0.2s ease-in-out; 
}

.gif:hover {
    transform: scale(1.05);
}

.gif-s {
    width: 14%;
    max-width: 250px;
}

.gif-m {
    width: 18.5%;
    max-width: 300px;
}

.gif-l {
    width: 32%;
    max-width: 450px;
}

/* For smaller screens */
@media screen and (max-width: 1000px) {
    .container {
        justify-content: center; 
    }
   
}