#root {
  max-width: 1300px;
  text-align: center;
  display: grid;
  margin: 0px auto;
  margin-top: 1vh;
  padding: 0px 15px;
  row-gap: 30px;
  grid-template-columns: repeat(3, 1fr);
  align-self: flex-start;
  grid-template-rows: 100px 1fr;
}

.title{
  position: absolute;
  margin: auto;
  grid-column: 1/-1;
  cursor: pointer;
  width: fit-content;
  top: 13%;
  left: 50%;
  transform: translate(-50%, -50%);
  grid-column: 1/1;
  font-size: 1.2em;
}


.return-text {
  display: none;
}

@media screen and (max-width: 750px) {
  #root{
    row-gap: 10px;
  }
  
  .title{
    font-size: 1em;
  }

}

@media screen and (max-width: 500px) {
  #root{
    row-gap: 0px;
  }
  .title{
    font-size: 0.8em;
  }

}
